<section class="container-fluid background-isred" style="padding-bottom: 100px;">
    <div class="container flex">
      <div class="cta-left">
      <h2 class="is-dark">{{ accueil.data.attributes.cta_contact.Titre }}</h2>
        <div class="cta-links-container">
          <div class="flex no-min-width mobile-scroll">
            <div class="cta-link flex nospace-between">
                <img class="icon" src="/assets/images/mail.svg"
                alt="Propaganda icon" />
                <p class="cta-link is-dark">{{ accueil.data.attributes.cta_contact.Mail }}</p>
            </div>
            <div class="link cta-link flex nospace-between">
                <img class="icon" src="/assets/images/tel.svg"
                alt="Propaganda icon" />
                <p class="cta-link is-dark">{{ accueil.data.attributes.cta_contact.Gsm }}<br>
            </div>
           <p class="cta-link is-dark"></p>    
          </div>
          <div class="adresse">    
            <div class="cta-link flex nospace-between">
                <img class="icon" style="align-self: baseline" src="/assets/images/gps.svg"
                alt="Propaganda icon" />
                <p class="link-external cta-link is-dark" style="line-height: 130%; display: inherit;"><a style="color: black!important;" href="https://www.openstreetmap.org/way/22734665#map=20/50.82440/4.35525&layers=TN" target="_blank">Sur rendez-vous à {{ accueil.data.attributes.cta_contact.Localisation }}</a></u></p>
            </div>         
          </div>
        </div>  
      </div>  
      <div class="img-right">    
            <img class="image-cta" src="https://backend-pfdc.jcloud.ik-server.com{{ accueil.data.attributes.cta_contact.url }}" />
        </div>
    </div>
  </section> 