<!DOCTYPE html>
<html lang="en">
<head>
 {% include "basehead.njk" %}
 {% block head %}
    
 {% endblock %}
 <script type="module" src="/js/main.js">
 <script src="https://cdnjs.cloudflare.com/ajax/libs/luxon/3.4.4/luxon.min.js" integrity="sha512-dUlSLLkxslGILhPdCkALwk4szPhp3xmZIKFtlUD+O9Lslq41Aksmdt5OGqpomDoT4FsCUH70jQU8ezZHI3v1RQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>
    <div class="nav-parent container-fluid hidden-mobile">
        <nav class="container classformobile">
        <ul>
            <li div="logo"><a href="index.html" aria-label="Revenir à la page d'accueil">
                <img src="/assets/images/logo.svg" alt="Logo Projet Feu de Camp" style="height: 55px;">
            </a></li>
        </ul>
        
    </nav>
    </div>
</div>
                 
<li><a href="https://instagram.com/projet.feudecamp" class="contrast" style="max-width: 35px!important; display: inherit;" aria-label="lien vers Facebook"> <img src="/assets/images/icons8-facebook.svg" alt="facebook lien"></a>
</li><li><a href="https://instagram.com/projet.feudecamp" class="contrast" style="max-width: 25px!important; display: inherit;" aria-label="lien vers Instagram"> <img src="/assets/images/icons8-instagram.svg" alt="instagram lien"></a>
         </li>   </div>
        </div>
    </div>
</div>
<main>
{{ content | safe}}
</main>

</body>
<script>
// Déclaration de la fonction myFunction ici
function myFunction() {
  var dropdown = document.getElementById("myDropdown");
  dropdown.classList.toggle("show");

  // Changement du texte du bouton en fonction de la visibilité du dropdown
  var menuButton = document.getElementById("menuButton");
  if (dropdown.classList.contains("show")) {
    menuButton.innerHTML = "Fermer le menu";
  } else {
    menuButton.innerHTML = "Menu";
  }
}

// Fermeture du menu déroulant si l'utilisateur clique en dehors
window.onclick = function(event) {
  if (!event.target.matches('.burger-menu')) {
    var dropdowns = document.getElementsByClassName("inside-burger");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');

        // Réinitialisation du texte du bouton lors de la fermeture du menu
        var menuButton = document.getElementById("menuButton");
        menuButton.innerHTML = "Menu";
      }
    }
  }
} 
</script>


</script>

</html>