---
title: Article
layout: layouts/base.njk
locale: "fr-be"
tags: "posts"
pagination:
  data: articles.data
  size: 1
  alias: article
permalink: 'fr/tags/{{ article.attributes.tags.data[0].attributes.name }}/articles/{{ article.attributes.Slug }}/'
---

<main>
<header class="header is-red" style="min-height: auto!important;padding-bottom: 20px;"> 
  <div class="container padding-top-240">
    <h2 class="is-dark" style="padding-bottom: 20px;text-align: center;">{{ article.attributes.title }}</h2>
    <div style="display: flex; margin-bottom: 40px;justify-content: center;padding-bottom: 120px;">
      <div class="flex" style="margin-right: 20px;align-items: center;">
        <img class="icon" style="filter: invert(100);" src="https://backend-pfdc.jcloud.ik-server.com/uploads/icon_tag_05245df72c.svg" alt="tags" />
        <a href="http://localhost:8080/fr/tags/{{ article.attributes.tags.data[0].attributes.name }}" class="metadata" style="color: black; border-color: black;">Tag: {{ article.attributes.tags.data[0].attributes.name }}</a>
      </div>
      <div class="flex" style="margin-right: 20px;align-items: center;">
        <img class="icon" style="filter: invert(100);" src="https://backend-pfdc.jcloud.ik-server.com/uploads/auteur_f5fead90d2.svg" alt="Auteurice" />
        <a href="/fr/auteurices/{{ article.attributes.auteur_ices.data[0].attributes.slug }}/" class="metadata" style="color: black; border-color: black;">Rédaction: {{ article.attributes.auteur_ices.data[0].attributes.Prenom }}</p>
      </div>
      <div class="flex" style="margin-right: 20px;align-items: center;">
        <img class="icon" style="filter: invert(100);" src="https://backend-pfdc.jcloud.ik-server.com/uploads/ical_2d2e09300b.svg" alt="iCal" />
        <p class="metadata" style="color: black; border-color: black;">{{ article.attributes.date | postDate }}</p>
      </div>
      <div class="flex" style="margin-right: 20px;align-items: center;">
        <img class="icon" style="filter: invert(100);" src="https://backend-pfdc.jcloud.ik-server.com/uploads/lien_utile_fe0a607efb.svg" alt="liens" />
        <p class="metadata" style="color: black; border-color: black;">{{ article.attributes.liens }}</p>
      </div>
    </div> 

  </div>
</header>

<section class="container">  
  <article class="article">
      {% for contenu in article.attributes.contenu %} 
      {% if contenu.type == 'paragraph' %}
          {% if contenu.children[0].bold == true %}
              <p class="bold-style">{{ contenu.children[0].text }}</p>
          {% elseif contenu.children[0].underline == true %}
              <p class="underline-style">{{ contenu.children[0].text }}</p>
          {% elseif contenu.children[0].code == true %}
              <p class="code-style underline-style">{{ contenu.children[0].text }}</p>
          {% else %} 
              <p>{{ contenu.children[0].text }}</p>
          {% endif %}
          
     {% elseif contenu.type == 'list' %}
          <ul class="list-style">
              {% for item in contenu.children %}
                  {% if item.type == 'list-item' %}
                      <li class="puce">{{ item.children[0].text }}</li>
                  {% endif %}
              {% endfor %}
          </ul>
          {% elif contenu.type == 'heading' and contenu.level == 3 %}
     <h3 style="padding-top:30px!important;line-height: 120%!important">{{ contenu.children[0].text }}</h3>
     {% elif contenu.type == 'heading' and contenu.level == 2 %}
     <h2 style="line-height: 120%!important">{{ contenu.children[0].text }}</h2>
     {% elif contenu.type == 'heading' and contenu.level == 4 %}
     <h4 style="padding-top:30px;line-height: 120%!important">{{ contenu.children[0].text }}</h4>
     {% elif contenu.type == 'image' %}
     <img src="{{ contenu.image.url}}"">
      {% endif %}
  {% endfor %}
    </div>
  <div class="container max-600"> 
   
  </div>
  </article>

 

  
  <!-- <div class="fdc-actions">
    <div class="left" style="min-width: 280px;flex-direction: column;">
      <div class="flex">
        <img class="icon" src="https://backend-pfdc.jcloud.ik-server.com/uploads/icon_tag_05245df72c.svg" alt="tags" />
        <p class="metadata">{{ article.attributes.tags.data[0].attributes.name }}</p>
      </div>
      <div class="flex">
        <img class="icon" src="https://backend-pfdc.jcloud.ik-server.com/uploads/auteur_f5fead90d2.svg" alt="Auteurice" />
        <p class="metadata">{{ article.attributes.author }}</p>
      </div>
      <div class="flex">
        <img class="icon" src="https://backend-pfdc.jcloud.ik-server.com/uploads/ical_2d2e09300b.svg" alt="iCal" />
        <p class="metadata">{{ article.attributes.date | postDate }}</p>
      </div>
      <div class="flex">
        <img class="icon" src="https://backend-pfdc.jcloud.ik-server.com/uploads/lien_utile_fe0a607efb.svg" alt="liens" />
        <p class="metadata">{{ article.attributes.liens }}</p>
      </div>
    </div> 
    <div class="article">
      {% for contenu in article.attributes.contenu %} 
      {% if contenu.type == 'paragraph' %}
          {% if contenu.children[0].bold == true %}
              <p class="bold-style">{{ contenu.children[0].text }}</p>
          {% elseif contenu.children[0].underline == true %}
              <p class="underline-style">{{ contenu.children[0].text }}</p>
          {% elseif contenu.children[0].code == true %}
              <p class="code-style underline-style">{{ contenu.children[0].text }}</p>
          {% else %} 
              <p>{{ contenu.children[0].text }}</p>
          {% endif %}
          
     {% elseif contenu.type == 'list' %}
          <ul class="list-style">
              {% for item in contenu.children %}
                  {% if item.type == 'list-item' %}
                      <li class="puce">{{ item.children[0].text }}</li>
                  {% endif %}
              {% endfor %}
          </ul>
          {% elif contenu.type == 'heading' and contenu.level == 3 %}
     <h3 style="padding-top:30px!important;line-height: 120%!important">{{ contenu.children[0].text }}</h3>
     {% elif contenu.type == 'heading' and contenu.level == 2 %}
     <h2 style="line-height: 120%!important">{{ contenu.children[0].text }}</h2>
     {% elif contenu.type == 'heading' and contenu.level == 4 %}
     <h4 style="padding-top:30px;line-height: 120%!important">{{ contenu.children[0].text }}</h4>
     {% elif contenu.type == 'image' %}
     <img src="{{ contenu.image.url}}"">
      {% endif %}
  {% endfor %}
    </div>
  <div class="container max-600"> 
   
  </div> -->

  <h2>Articles recommendés par {{ article.attributes.auteur_ices.data[0].attributes.Prenom }}</h2>
  <div class="grid margin-top-40">
      {% for recommendedArticle in article.attributes.Recom_articles.data %}

          <div class="project-container">        <a href="/fr/tags/{{ recommendedArticle.attributes.tags.data[0].attributes.name }}/articles/{{ recommendedArticle.attributes.Slug }}//" class="cursor-external3">
            <div class="header-card">
                <div class="title-container">
                    <div class="project-title">{{ recommendedArticle.attributes.tags.data[0].attributes.name }}</div>
                </div>
                <div class="duration-container">
                    <div class="duration">lecture: {{ recommendedArticle.attributes.TempsLecture }}</div> 
                </div>
            </div> 
            <div class="content">
                <div class="project-details">
                  <div class="duration">{{ recommendedArticle.attributes.date | postDate }}</div>
                    <div class="project-name">{{ recommendedArticle.attributes.title }}</div>
                    <div class="project-description">{{ recommendedArticle.attributes.resume_en_deux_lignes }}</div>
                </div>
                <div class="read-more">
                    <a href="/fr/tags/{{ recommendedArticle.attributes.tags.data[0].attributes.name }}/articles/{{ recommendedArticle.attributes.Slug }}//" class="bouton secondary arrow-right">lire l’article</a>
                </div> 
            </div>          </a>
        </div>
      {% endfor %}
  </div>

</main>

