---
layout: layouts/base.njk
title: "Accueil - Projet Feu de Camp"
description: "Le Projet Feu de Camp imagine un nouveau monde désirable"
locale: "be-fr"
---

<meta http-equiv="Content-Security-Policy" content="img-src 'self' https://backend-pfdc.jcloud.ik-server.com/"> 
<main>
  <header class="header is-red" style="min-height: 70vh;">
  <div class="container padding-top-240">
      <h1 data-scroll style="font-size:72px;">Viens à des rencontre, de l’entraide entre artistes et créatif..ves engagé..es et découvre des initiatives créatives bruxelloises</h1>
      <div class="newsletter">
        <div class="title-and-description">
        <p class="is-dark" style="padding-bottom: 30px;">Reste informé..e des prochains événements<p>
        <script type="text/javascript" src="https://webform.statslive.info/ow/eyJpdiI6IlZ4NDFHQ0JaSmUrME1JUXpWWEhCaDhYZFRNZFIrZWI4cjY1QVpCZ0ZBRDA9IiwidmFsdWUiOiJsWW40YVwvMTc3SHREMHlvdFFXRENNTCtnVWNzRGJ2UFpzVWgwVEkzUHk3MD0iLCJtYWMiOiIxMGVjZjdmNTcwOTYwZTIwYTEyZDlmMzZjNGYyM2VjNTdhZmUzZjA2YjM1YjE3NzQyZWUwMzFmZDUzYWI1MmUxIn0="></script> 
    </div>    
  </div>
</header>

<section id="actions" class="container">
<div class="container-evenement hidden-mobile cursor-external3">{% for evenement in evenements.data %}

  <a href="evenements/{{ evenement.attributes.slug }}" class="cursor-external3">
    <div class="border-box">
      <div id="dateStrapi{{ loop.index }}" class="number">
        {{ evenement.attributes.date | postDate }}
      </div> 
      <div class="date-location">
        <span>à </span><a href="{{ evenement.attributes.Lieu_lien }}" target="_blank" class="underline">{{ evenement.attributes.Lieu }}</a>
      </div>
      <div class="event-image-container">
      <img src="https://backend-pfdc.jcloud.ik-server.com{{ evenement.attributes.icon.data.attributes.url }}" alt="Placeholder Image" class="event-image" />
      </div>
      <div class="quote">{{ evenement.attributes.title }}</div> 
      <div class="event-link"> 
        <a href="evenements/{{ evenement.attributes.slug }}" class="bouton secondary arrow-right">Voir l’événement</a>
      </div>  
    </div>
  </a>
  
    <!-- Dynamic script for each element placed after the loop -->
    <!-- <script>
      console.log('Script is running.');
  
      // Define rawData without using let
      var rawData{{ loop.index }} = '{{ evenement.attributes.date }}';
      console.log('Raw data:', rawData{{ loop.index }});
  
      function formatMyDate(value, locale = 'en-GB') {
        // Check if the value is empty or undefined
        if (!value) {
          console.error('Empty or undefined timestamp.');
          return 'No Date Available';
        }
  
        const date = luxon.DateTime.fromISO(value);
  
        // Check if the date is valid
        if (!date.isValid) {
          console.error('Invalid date:', value);
          return 'Invalid Date';
        }
  
        // Format the date using Luxon
        var luxonTimestamp = date.setLocale(locale).toLocaleString(luxon.DateTime.DATE_SHORT);
  
        return luxonTimestamp;
      }
  
      // Get the element where you want to display the formatted date
      var dateElement{{ loop.index }} = document.getElementById('dateStrapi{{ loop.index }}'); // Replace with the actual ID
  
      // Set the innerHTML of the element with the formatted date
      dateElement{{ loop.index }}.innerHTML = formatMyDate(rawData{{ loop.index }});
    </script> -->
  {% endfor %}</div>
</section>