---
layout: layouts/base.njk
title: "Accueil - Projet Feu de Camp"
description: "Le Projet Feu de Camp imagine un nouveau monde désirable"
locale: "be-fr"
---

<meta http-equiv="Content-Security-Policy" content="img-src 'self' https://backend-pfdc.jcloud.ik-server.com/"> 
<main>
  <header class="header is-red" style="min-height: 70vh;">
  <div class="container padding-top-240">
      <h1 data-scroll style="font-size:72px;">Viens à des rencontre, de l’entraide entre artistes et créatif..ves engagé..es et découvre des initiatives créatives bruxelloises</h1>
      <div class="newsletter">
        <div class="title-and-description">
        <p class="is-dark" style="padding-bottom: 30px;">Reste informé..e des prochains événements<p>
        <script type="text/javascript" src="https://webform.statslive.info/ow/eyJpdiI6IlZ4NDFHQ0JaSmUrME1JUXpWWEhCaDhYZFRNZFIrZWI4cjY1QVpCZ0ZBRDA9IiwidmFsdWUiOiJsWW40YVwvMTc3SHREMHlvdFFXRENNTCtnVWNzRGJ2UFpzVWgwVEkzUHk3MD0iLCJtYWMiOiIxMGVjZjdmNTcwOTYwZTIwYTEyZDlmMzZjNGYyM2VjNTdhZmUzZjA2YjM1YjE3NzQyZWUwMzFmZDUzYWI1MmUxIn0="></script> 
    </div>    
  </div>
</header>

<section id="actions" class="container">
<div class="container-evenement hidden-mobile cursor-external3">{% include "components/event_list.njk" %}</div>
</section>