---
layout: layouts/base.njk
title: "Accueil - Projet Feu de Camp"
description: "Attiser les liens entre celleux qui portent le changement et celleux qui le racontent"
locale: fr-BE
---
<meta http-equiv="Content-Security-Policy" content="img-src 'self' https://backend-pfdc.jcloud.ik-server.com/"> 
<main>
  <header class="header is-red" style="min-height: 70vh;">
  <div class="container padding-top-240">
      <h1 data-scroll style="font-size:72px;">Une envie brûlante de faire de belles choses avec nous? On est tout feux tout flamme!</h1>
      <div class="fleche is-down">
        <svg xmlns="http://www.w3.org/2000/svg" width="78" height="78" viewBox="0 0 78 78" fill="none">
          <path d="M38.1378 67.4394L15.7313 45.033C15.5028 44.8044 15.3744 44.4944 15.3744 44.1712C15.3744 43.848 15.5028 43.538 15.7313 43.3094C15.9599 43.0809 16.2699 42.9524 16.5931 42.9524C16.9164 42.9524 17.2263 43.0809 17.4549 43.3094L37.7801 63.6346L37.7801 11.4233C37.7801 11.0999 37.9086 10.7897 38.1373 10.561C38.366 10.3324 38.6762 10.2039 38.9996 10.2039C39.323 10.2039 39.6331 10.3324 39.8618 10.561C40.0905 10.7897 40.219 11.0999 40.219 11.4233L40.219 63.6346L60.5442 43.3094C60.7728 43.0809 61.0828 42.9524 61.406 42.9524C61.7292 42.9524 62.0392 43.0809 62.2678 43.3094C62.4964 43.538 62.6248 43.848 62.6248 44.1712C62.6248 44.4944 62.4964 44.8044 62.2678 45.033L39.8614 67.4394C39.6328 67.668 39.3228 67.7964 38.9996 67.7964C38.6763 67.7964 38.3663 67.668 38.1378 67.4394Z" fill="#1C1C1C"/>
        </svg>
      </div>
  </div>
</header>
<section class="container flex">
    <div style="width: 35%;">
        <img src="https://backend-pfdc.jcloud.ik-server.com/uploads/Email_cfb04586d3.svg" alt="Propaganda icon"  style="padding-bottom: 30px;"/>
        <h3  style="padding-bottom: 20px;">Emails</h3>
        <p>Demandes générales -  Questions, tu veux t’impliquer dans Le Projet, proposition de collaboration ou de projet <span style="color: #EB3726;"> bxl@projetfeudecamp.be</span></p><br>
        <p>Propaganda -  Si tu es une ASBL ou une initiatives engagées et tu veux collaborer avec nous  <span style="color: #EB3726;">propaganda@projetfeudecamp.be</span>
        </p><br>
        <p>Admin et factures - La paperasse, c’est par ici <span style="color: #EB3726;">admin@projetfeudecamp.be</span>
        </p>
    </div>
    <div style="width: 30%;">
        <img src="https://backend-pfdc.jcloud.ik-server.com/uploads/Phone_d72dbd95cc.svg" alt="Propaganda icon"  style="padding-bottom: 30px;"/>
        <h3  style="padding-bottom: 20px;">Téléphone</h3>
        <p>Appelle Nous! (appel standard ou télégramme – pas de whatsapp)</p><br>

            <p>Hugo (iel) +32 491 14 00 86</p>
                <p>
                    Val: +32 499 83 55 72</p>
    </div>
    <div style="width: 35%;">
        <img src="https://backend-pfdc.jcloud.ik-server.com/uploads/Pin_0c9ddd016b.svg" alt="Propaganda icon" style="padding-bottom: 30px;" />
        <h3  style="padding-bottom: 20px;">Bureau</h3>
        <p>Tu veux nous rencontrer? <br>

            On est très souvent à L’Extension de Fais-le toi-même.
            Prends RDV et viens nous voir !
    </div>
</section>
 
</main>