---
layout: layouts/base.njk
title: "Accueil - Projet Feu de Camp"
description: "Le Projet Feu de Camp imagine un nouveau monde désirable"
locale: "be-fr"
---

<meta http-equiv="Content-Security-Policy" content="img-src 'self' https://backend-pfdc.jcloud.ik-server.com/"> 
<main>
  <header class="header is-red" style="min-height: 70vh;">
  <div class="container padding-top-240">
      <h1 data-scroll style="font-size:72px; padding-bottom: 20px;max-width: 90%;">Le réseau d’entraide des initiatives créatif..ves et engagé..es de Bruxelles</h1>
      <p class="is-dark" style="max-width: 85%;padding-bottom: 80px;">Nous sommes convaincu..es que le changement ne vient pas forcément de nouvelles initiatives mais plutot de la revalorisation de l’existant et de la création de lien et d’entraide entre ce qui existe déjà ! Le Réseau Flammèche est là pour fédérer et empouvoirer ces iniatives!</p>
      <div data-scroll class="button is-wrap">
        <a class="bouton primary arrow" href="../agenda">Découvrir le réseau</a>
        <a class="bouton secondary arrow-right has-margin-top is-dark" href="#">Découvrir le réseau <span class="italic-fdc" style="font-size: 0.8em;">(Bientôt disponible)</span></a>
      </div>
  </div>
</header>

<section id="actions" class="container">

  <h3 style="padding-bottom: 60px;">Cette action verra le jour en fin 2024. Soyez patient, ça arrive!</h3>
  <div class="newsletter">
    <div class="title-and-description" style="color: white;">
    <p class="is-dark" style="padding-bottom: 30px;color: white;">Reste informé..e !<p>
    <script type="text/javascript" src="https://webform.statslive.info/ow/eyJpdiI6IlZ4NDFHQ0JaSmUrME1JUXpWWEhCaDhYZFRNZFIrZWI4cjY1QVpCZ0ZBRDA9IiwidmFsdWUiOiJsWW40YVwvMTc3SHREMHlvdFFXRENNTCtnVWNzRGJ2UFpzVWgwVEkzUHk3MD0iLCJtYWMiOiIxMGVjZjdmNTcwOTYwZTIwYTEyZDlmMzZjNGYyM2VjNTdhZmUzZjA2YjM1YjE3NzQyZWUwMzFmZDUzYWI1MmUxIn0="></script> 
</div>    
</section>