---
layout: layouts/base.njk
title: "Accueil - Projet Feu de Camp"
description: "Le Projet Feu de Camp imagine un nouveau monde désirable"
locale: "be-fr"
---

<meta http-equiv="Content-Security-Policy" content="img-src 'self' https://backend-pfdc.jcloud.ik-server.com/"> 
<main>
  <header class="header is-red" style="min-height: 70vh;">
  <div class="container padding-top-240">
      <h1 data-scroll style="font-size:72px; padding-bottom: 20px;max-width: 90%;">Rencontre, entraide et co-création entre artistes et créatif..ves engagé..es</h1>
      <p class="is-dark" style="max-width: 85%;padding-bottom: 80px;">Le Projet Feu de Camp s’est co-construit avec l’aide des dizaines de créatif..ves et artistes bruxellois. Le collectif et la co-création est à la source de notre initiative. Nous voulons continuer à donner l’opportunités à celleux qui en ont le besoin et l’envie de se rencontrer et de s’entraider dans un cadre safe, joyeu et engagé.</p>
      <div data-scroll class="button is-wrap">
        <a class="bouton primary arrow" href="../agenda">Participer au prochain événement</a>
        <a class="bouton secondary arrow-right has-margin-top is-dark" href="#">Rejoindre le collectif</a>
      </div>
  </div>
</header>

<section id="actions" class="container">

  <h3 style="padding-bottom: 60px;">La page est en cours de rédaction...</h3>
  <div class="newsletter">
    <div class="title-and-description" style="color: white;">
    <p class="is-dark" style="padding-bottom: 30px;color: white;">Reste informé..e !<p>
    <script type="text/javascript" src="https://webform.statslive.info/ow/eyJpdiI6IlZ4NDFHQ0JaSmUrME1JUXpWWEhCaDhYZFRNZFIrZWI4cjY1QVpCZ0ZBRDA9IiwidmFsdWUiOiJsWW40YVwvMTc3SHREMHlvdFFXRENNTCtnVWNzRGJ2UFpzVWgwVEkzUHk3MD0iLCJtYWMiOiIxMGVjZjdmNTcwOTYwZTIwYTEyZDlmMzZjNGYyM2VjNTdhZmUzZjA2YjM1YjE3NzQyZWUwMzFmZDUzYWI1MmUxIn0="></script> 
</div>    
</section>