---
layout: layouts/base.njk
title: "Accueil - Projet Feu de Camp"
description: "Attiser les liens entre celleux qui portent le changement et celleux qui le racontent"
---

<main>

  <header class="header is-red">
    <div class="container padding-top-240">
      <h1>Nouveau site en cours de construction...</h1>
      </div>
  </header>   


  
</main>
